.auth{
    height: calc(100vh - 60px);
    width: 100%;
    text-align: center;
    background: rgb(255,255,255);
    background: linear-gradient(137deg, rgba(255,255,255,1) 0%, rgba(231,244,254,1) 99%, rgba(191,225,252,1) 100%, rgba(33,150,243,1) 100%);
}
.auth .content{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.auth .box{
    text-align: left;
    background: #3498db;
    width: 50%;
    height: 45%;
    border-radius: 20px;
    overflow: auto;
}
.auth .box .routes{
    width: 100%;
}
.auth .box .routes button{
    width: 50%;
    border: none;
    font-size: 22px;
    padding: 10px;
    cursor: pointer;
}
.auth .box button.active{
    background: #2875a8;
    color: white;
}
.auth .box button.active:hover{
    background: #1d5479;
}
.auth .box button.active:active{
    background: #194969
}

.auth .box button{
    background: #80cafc;
    color: white;
}
.auth .box button:hover{
    background: #7cc5f5;
}
.auth .box button:active{
    background: #5d93b8
}

.auth .box .routes button:nth-child(1){
    border-top-left-radius: 18px;
}
.auth .box .routes button:nth-child(2){
    border-top-right-radius: 20px;
}
.auth .box form{
    width: 100%;
    padding: 20px;
    font-size: 22px;
}
.auth .box form div{
    margin-bottom: 20px;
    color: white;
}
.auth .box form input{
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 21px;
    margin-top: 2px;
    padding: 5px 10px;
    outline: none;
}

.auth .box form button{
    font-size: 22px;
    padding: 7px 12px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    color: white;
    background: #2875a8;
    transition: 0.2s;
}
.formButtons{
    display: flex;
    align-items: center;
}
.formButtons p{
    margin-left: 15px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.596);
    font-weight: bold;
    cursor: pointer;
}
.formButtons p:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.auth .box form button:hover{
    background: #1d5479;
}
.auth .box form button:active{
    background: #194969;
}
.auth .authMap{
    cursor: pointer;
    width: 50%;
    height: 45%;
    display: flex;
    justify-content: center;
}
.auth .authMap div{
    height: 100%;
    width: 90%;
    border-radius: 20px;
    background: url('../image/authMap.png') center center no-repeat;
    background-size: 200%;
    transition: 0.2s;
}
.auth .authMap h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background: #3498db71;
    font-size: 30px;
    transition: 0.2s;
}
.auth .authMap:hover h2{
    background: #2f87c271;
}
.auth .authMap:hover div{
    background-size: 190%;
}

.auth .errorRed{
    color: white;
    transition: 0.2s;
    animation: redColor 5s linear;
}

@keyframes redColor {
    0%{
        transform: scale(1);
    }
    10%{
        color: red;
    }
    70%{
        color: rgba(255, 0, 0, 0.705)
    }
    80%{
        color: rgba(255, 0, 0, 0.486)
    }
    100%{
        color: white;
    }
}