.header{
    width: 100%;
    min-width: 400px;
    background: #3498db;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    z-index: 10;
    height: 51px;
    
}

.header .logo{
    display: flex;
    align-items: center;
    
}
.logo img{
    width: 30px;
    height: 30px;
}
.logo h2{
    font-size: 26px;
    color: white;
}
.header .user{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header .user p{
    color: white;
    font-size: 20px;
    margin-right: 20px;

}


.signin{
    font-size: 19px;
    padding: 4px 20px;
    cursor: pointer;
    background: rgba(209,255,217,1);
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 21px;
    text-shadow: 1px 2px 7px rgba(150, 150, 150, 1);
    
}

.signin:hover{
    transform: scale(1.02);
}


@media (max-width:480px){
    .header{
        min-width: 100%;
        padding: 10px 20px  
    }
    .logo h2{
       font-size: 18px;
    }
    .signin{
        font-size: 16px;
    }
    .header .user p{
        font-size: 16px;
    }
}