.main{
    height: 100vh;
    width: 100%;
    text-align: center;
    position: relative;
    background: rgb(255,255,255);
    background: linear-gradient(137deg, rgba(255,255,255,1) 0%, rgba(231,244,254,1) 99%, rgba(191,225,252,1) 100%, rgba(33,150,243,1) 100%);
}
.main .content{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.main .header{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main .header .logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.main .header .logo img{
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.main .header .logo h2{
    font-size: 24px;
    color: #3498db;
}
.main button{
    font-size: 18px;
    color: white;
    background-color: #3498db;
    border: none;
    padding: 8px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.main button:hover{
    background-color: #2c80b8;
}
.main button:active{
    background-color: #226999;
}

.main .about{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main .about div{
    display: flex;
    align-items: center;

}
.main .about h2{
    font-size: 24px;
    color: #3498db;
    font-size: 60px;
}
.main .about .ph{
    font-size: 30px;
    color: #2c80b8;
    font-weight: bold;
}

.main .about p{
    font-size: 25px;
}
.main .about p:nth-child(2){
    margin-bottom: 50px;
}
.main .about .animation{
    display: block;
    animation-delay: 100ms;
    -webkit-animation-name: zoomInDown;
  animation-name: zoomInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes zoomInDown {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
  transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
  -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }
  60% {
  opacity: 1;
  -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
  transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
  }
  @keyframes zoomInDown {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
  transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
  -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }
  60% {
  opacity: 1;
  -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
  transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
  } 
.main .start{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.main .start .box{
    height: 100%;
    width: 500px;
    border-radius: 20px;
    background: url('../image/back1.png') no-repeat center center;
    background-size: 110%;
    cursor: pointer;
    transition: 0.2s ease-in;
    -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  20% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
  -webkit-transform: scale3d(.9, .9, .9);
  transform: scale3d(.9, .9, .9);
  }
  60% {
  opacity: 1;
  -webkit-transform: scale3d(1.03, 1.03, 1.03);
  transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
  -webkit-transform: scale3d(.97, .97, .97);
  transform: scale3d(.97, .97, .97);
  }
  100% {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }
  @keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  20% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
  -webkit-transform: scale3d(.9, .9, .9);
  transform: scale3d(.9, .9, .9);
  }
  60% {
  opacity: 1;
  -webkit-transform: scale3d(1.03, 1.03, 1.03);
  transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
  -webkit-transform: scale3d(.97, .97, .97);
  transform: scale3d(.97, .97, .97);
  }
  100% {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
}
.main .start .box:nth-child(2){
    background: url('../image/back2.png') no-repeat center center;
    background-size: 110%;
}
.main .start .box img{
    width: 50px;
    height: 50px;
    margin-left: 10px;
}
.main .start .box p{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3498db71;
    border-radius: 20px;
    font-size: 27px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: 0.2s;
}
.main .start .box:hover p{
    background: #3498db80;
}
.main .start .box:hover{
    background-size: 120%;
}
.main .start .box:active p{
    background: #3498db9f;
}

@media (max-width:480px){
    .main .content{
        max-width: 300px;
    }
    .main .header .logo img{
        width: 30px;
        height: 30px;
    }
    .main .header .logo h2{
        font-size: 15px;
    }
    .main button{
        font-size: 13px;
        padding: 10px 5px;
    }
    .main .about h2{
        font-size: 40px;
    }
    .main .about .ph{
        font-size: 18px;
    }
    .main .start{
        height: 40%;
        width: 95%;
        flex-direction: column;
    }
    .main .start .box{
        width: 100%;
        margin: 5px 0;
    }
}
@media (min-width:481px) and (max-width:1080px){
    .main .content{
        max-width: 900px;
    }
    .main .about h2{
        font-size: 50px;
    }
    .main .about .ph{
        font-size: 25px;
    }
    .main .start{
        height: 40%;
        width: 95%;
        flex-direction: column;
    }
    .main .start .box{
        width: 100%;
        margin: 5px 0;
    }
}
