@font-face {
  font-family: "Fredoka One";
  src: url("./fonts/Fredoka_One/FredokaOne-Regular.ttf");
  src: url("./fonts/Fredoka_One/FredokaOne-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Balsamiq Sans";
  src: url("./fonts/Balsamiq_Sans/BalsamiqSans-Bold.ttf");
  src: url("./fonts/Balsamiq_Sans/BalsamiqSans-Bold.ttf") format("truetype");
  font-weight: bold;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(255,255,255);
    background: linear-gradient(137deg, rgba(255,255,255,1) 0%, rgba(231,244,254,1) 99%, rgba(191,225,252,1) 100%, rgba(33,150,243,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none;       
  user-select: none;
  outline: none;
  font-family: 'Fredoka One', 'Balsamiq Sans', sans-serif;
  font-weight: 200;
}
/* хром, сафари */
/* *::-webkit-scrollbar { width: 0; } */
::-webkit-scrollbar { /* chrome based */
  width: 0; 
  background: transparent; 
}
html {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
  overflow: -moz-scrollbars-none
}